.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  margin-top: 20px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.background-image{
  background-image: url('../../assets/images/backgroud-login.jpg');
  background-size: cover;
}

.card-login-container{}
.card-login {
  border-left: 10px solid #1d84e1;
  padding: 25px;
  background-color: #F7F7F7;
  margin: 0 auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 0px;
}
